# Comma police

One of the most widespread data storage format is the _comma separated value_ (csv) format.  
The csv are tabular data: they are made of rows and columns. For the csv files to be good csv files, every rows must have the same number of columns; and conversely every column must have the same number of rows (yes, just as a good dataframe).  
In general, though, there's nothing more than that: rows can be variable or observations, depending on who wrote the file.  
The name _csv_ is given by the fact that each _value_ in a row is separated by a comma. And rows of value are separated by a break line.

Comma separated value files are _plain text_ files: that means that you can open them with a simple text editor and see (and eventually, but don't do it!, edit) what's inside.

In this lab we have one example here named "addresses.csv". You can open it in Jupyter Lab by double clicking on it. **Try that!**

#### Question: what does it happen if you pick (in the Jupyter Lab viewer) a different delimeter?

addresses.csv works but challenge.csv does not i have no idea way

Indeed, csv files are a particular example of a wider class of files, where values are separated by _some_ delimiter. Common ones are tab delimited files, often shortened to _.tsv_.

## Before we start

If you want to read more about tidy data, and wide and long data, Hadley's book _Advanced R_ is THE place (he wrote the original paper). The relevant chapter is this one: http://r4ds.had.co.nz/tidy-data.html. Before the next lecture, to refresh about join operators, see this chapter: http://r4ds.had.co.nz/relational-data.html.

### Into R

As almost always in this course, we are going to use the tidyverse!

In [ ]:
# install.packages(___)

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

To read in a csv file, there's a dedicated function: `read_csv()`. Its output is a dataframe. Let's see, and **do read the red messages**.

### NOTICE we are using read_csv, not read.csv, that is underscore ("\_") not dot ("\.").

In [2]:
addresses <- read_csv(file = "addresses.csv") 

addresses

Rows: 5 Columns: 6
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): John, Doe, 120 jefferson st., Riverside, NJ, 08075

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  John                  Doe      120 jefferson st.                Riverside
1 Jack                  McGinnis 220 hobo Av.                     Phila
2 John "Da Man"         Repici   120 Jefferson St.                Riverside
3 Stephen               Tyler    7452 Terrace "At the Plaza" road SomeTown
4 NA                    Blankman NA                               SomeTown
5 Joan "the bone", Anne Jet      9th, at Terrace plc              Desert City
  NJ 08075
1 PA 09119
2 NJ 08075
3 SD 91234
4 SD 00298
5 CO 00123

Well, it looks quite the same thing we have seen opening the file with Jupyter Lab.  
So, what about that first row? It does not really look it's the name of variable, the _header_, rather just on row in the dataframe.  
We can tell `read_csv()` that the first row is just like the other setting the argument `col_names` to false.

In [3]:
addresses <- "addresses.csv" %>%
              read_csv(col_names = FALSE) 

addresses

Rows: 6 Columns: 6
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): X1, X2, X3, X4, X5, X6

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1                    X2       X3                               X4
1 John                  Doe      120 jefferson st.                Riverside
2 Jack                  McGinnis 220 hobo Av.                     Phila
3 John "Da Man"         Repici   120 Jefferson St.                Riverside
4 Stephen               Tyler    7452 Terrace "At the Plaza" road SomeTown
5 NA                    Blankman NA                               SomeTown
6 Joan "the bone", Anne Jet      9th, at Terrace plc              Desert City
  X5 X6
1 NJ 08075
2 PA 09119
3 NJ 08075
4 SD 91234
5 SD 00298
6 CO 00123

That's better: all the rows of data are in the dataframe. But the name of the variable are really not informative.

Sometimes you can read the names from a _data dictionary_ (a text file where the authors present the data, the way it is collected, the meaning of each variable). Sometimes you need to "invent" them for yourself.

In [4]:
names_variables <- c("first_name", "family_name", "street_address", "town", "state", "zip_code")

addresses <-  "addresses.csv" %>%
               read_csv(col_names = names_variables) 

addresses

Rows: 6 Columns: 6
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): first_name, family_name, street_address, town, state, zip_code

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  first_name            family_name street_address
1 John                  Doe         120 jefferson st.
2 Jack                  McGinnis    220 hobo Av.
3 John "Da Man"         Repici      120 Jefferson St.
4 Stephen               Tyler       7452 Terrace "At the Plaza" road
5 NA                    Blankman    NA
6 Joan "the bone", Anne Jet         9th, at Terrace plc
  town        state zip_code
1 Riverside   NJ    08075
2 Phila       PA    09119
3 Riverside   NJ    08075
4 SomeTown    SD    91234
5 SomeTown    SD    00298
6 Desert City CO    00123

Try again giving different names.

In [5]:
addresses %>% rename(
    ST = state,
    ZIP = zip_code
    )

  first_name            family_name street_address
1 John                  Doe         120 jefferson st.
2 Jack                  McGinnis    220 hobo Av.
3 John "Da Man"         Repici      120 Jefferson St.
4 Stephen               Tyler       7452 Terrace "At the Plaza" road
5 NA                    Blankman    NA
6 Joan "the bone", Anne Jet         9th, at Terrace plc
  town        ST ZIP
1 Riverside   NJ 08075
2 Phila       PA 09119
3 Riverside   NJ 08075
4 SomeTown    SD 91234
5 SomeTown    SD 00298
6 Desert City CO 00123

### Col types

Not all columns are the same stuff. Just by looking at the code, what do you expect the type of the data for each column to be?

> Expect all character except zip code

Now compare your previous answer with the type of the data in the columns that you can discover using, for example, `glimpse()`.

In [6]:
addresses %>% glimpse()

Rows: 6
Columns: 6
$ first_name     <chr> "John", "Jack", "John \"Da Man\"", "Stephen", NA, "Joan…
$ family_name    <chr> "Doe", "McGinnis", "Repici", "Tyler", "Blankman", "Jet"
$ street_address <chr> "120 jefferson st.", "220 hobo Av.", "120 Jefferson St.…
$ town           <chr> "Riverside", "Phila", "Riverside", "SomeTown", "SomeTow…
$ state          <chr> "NJ", "PA", "NJ", "SD", "SD", "CO"
$ zip_code       <chr> "08075", "09119", "08075", "91234", "00298", "00123"

Is it the same?

> No they were all parsed as character

Well, there was one column which may have confused you: the zip code. Those looks like numbers, integers to be specific.  

Yet some of them have zeros in front of the other digits. For an integer, that should not be a big problem, we can understand how to read the following number:

In [7]:
0019

[1] 19

Yet, `readr` is more careful. Instead of risking an error forcing stuff to be a number when it was not, it parses `0019` as _characters_: readr is the name of the package

In [8]:
"0019"

[1] "0019"

We can have a preview of what kind of object `read_csv()` will produce by using `guess_parser()`. Consider the following examples.

In [9]:
"0019" %>% guess_parser()
"19" %>% guess_parser()
"1.9" %>% guess_parser()
"1,9" %>% guess_parser()
"1900-03-01" %>% guess_parser()
"1900-33-33" %>% guess_parser()

[1] "character"

[1] "double"

[1] "double"

[1] "number"

[1] "date"

[1] "date"

`readr` tries to guess the type of the values it reads in a file, but he does not ALWAYS get it right. Moreover, it does not guess after having read _all_ the rows (that would be inefficient). It reads only a certain number of them, and then guesses and reads the other rows hoping that they are of the same type.

To be rigorous: it guesses the _schema_ (do you remember from the first lecture?) and then uses it to read efficiently the csv. `read_csv()` can read stuff from a file on your hard drive or from the web. It can even read compressed (zipped) files without any trouble (if they are in good shape). In general, if something is not *surely* of some other kind, it gets parsed as character.

In [10]:
url_enterprise_survey <- "https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2017-financial-year-provisional/Download-data/annual-enterprise-survey-2017-financial-year-provisional-csv.csv"

enterprise_survey <- read_csv(url_enterprise_survey)

Rows: 23175 Columns: 10
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (9): Industry_aggregation_NZSIOC, Industry_code_NZSIOC, Industry_name_NZ...
dbl (1): Year

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [11]:
enterprise_survey %>% sample_n(5)

  Year Industry_aggregation_NZSIOC Industry_code_NZSIOC
1 2015 Level 3                     EE12
2 2013 Level 4                     FF116
3 2014 Level 1                     QQ
4 2014 Level 3                     CC52
5 2013 Level 4                     FF114
  Industry_name_NZSIOC                              Units
1 Heavy and Civil Engineering Construction          Dollars (millions)
2 Commission Based Wholesaling                      Percentage
3 Health Care and Social Assistance                 Dollars (millions)
4 Basic Chemical and Chemical Product Manufacturing Dollars (millions)
5 Grocery, Liquor and Tobacco Product Wholesaling   Dollars (millions)
  Variable_code Variable_name                Variable_category     Value
1 H22           Closing stocks               Financial performance 178
2 H36           Current ratio                Financial ratios      158
3 H20           Non-operating expenses       Financial performance 138
4 H30           Total equity and liabilities Financial position    4438
5 H29           Other assets                 Financial position    1547
  Industry_code_ANZSIC06
1 ANZSIC06 group E310
2 ANZSIC06 Group F380
3 ANZSIC06 division Q
4 ANZSIC06 groups C181, C182, C183, C184, C185, and C189
5 ANZSIC06 group F360

### Your turn

Read something from the stats nz website:  https://www.stats.govt.nz/large-datasets/csv-files-for-download

In [12]:
url_migration <- "https://www.stats.govt.nz/assets/Uploads/International-migration/International-migration-March-2021/Download-data/international-migration-March-2021-citizenship-by-visa-by-country-of-last-permanent-residence.csv"
migration <- read_csv(url_migration)

Rows: 401772 Columns: 10
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (8): year_month, month_of_release, passenger_type, direction, citizenshi...
dbl (2): estimate, standard_error

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [13]:
migration %>% glimpse()

Rows: 401,772
Columns: 10
$ year_month           <chr> "2020-02", "2020-09", "2020-07", "2020-07", "2020…
$ month_of_release     <chr> "2021-03", "2021-03", "2021-03", "2021-03", "2021…
$ passenger_type       <chr> "Long-term migrant", "Long-term migrant", "Long-t…
$ direction            <chr> "Arrivals", "Arrivals", "Arrivals", "Arrivals", "…
$ citizenship          <chr> "non-NZ", "non-NZ", "non-NZ", "non-NZ", "NZ", "NZ…
$ visa                 <chr> "Resident", "Resident", "Visitor", "NZ and Austra…
$ country_of_residence <chr> "Andorra", "Andorra", "Andorra", "Andorra", "Ando…
$ estimate             <dbl> 1, 1, 1, 1, 1, 3, 1, 0, 0, 16, 6, 23, 19, 4, 2, 1…
$ standard_error       <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1…
$ status               <chr> "Provisional", "Provisional", "Provisional", "Pro…

In [14]:
migration %>% filter(direction =="Arrivals", year_month == "2020-02", passenger_type == "Long-term migrant") %>% group_by(country_of_residence) %>% summarise(Total_Arrivals = sum(estimate)) %>% arrange(desc(Total_Arrivals)) %>% head(10)

   country_of_residence       Total_Arrivals
1  TOTAL                      606544
2  Asia                       247183
3  Oceania and Antarctica     163662
4  India                      113914
5  Australia                   84117
6  Europe                      75507
7  The Americas                45249
8  Africa and the Middle East  44992
9  United Kingdom              35794
10 Not Stated                  29949

## When things go bad

Yet, this can go wrong sometimes. In the two following examples we will encouter some issue and work out if we can safely ignore them or we need to correct them. Remember, the decision depends on what data you are working on and for what purpose.  
Somebody else working on our examples may come to a different conclusion.

### Example 1

Let's try with a big and wild csv from https://www.stats.govt.nz/large-datasets/csv-files-for-download/:

`Overseas trade index: March 2020 quarter (provisional) – CSV.`

Refer to the website to discover the meaning of the variables!

In [15]:
test_url <- "https://www.stats.govt.nz/assets/Uploads/overseas-merchandise-trade-datasets/omt-datasets-june-2021/Jun-2021-Imports-HS10-by-Country.csv"
test <- test_url %>% read_csv()
spec(test)

New names:
• `` -> `...10`
Rows: 58308 Columns: 10
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (4): Harmonised System Description, Unit Qty, Country, Status
dbl (2): Month, Harmonised System Code
lgl (1): ...10

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

cols(
  Month = col_double(),
  `Harmonised System Code` = col_double(),
  `Harmonised System Description` = col_character(),
  `Unit Qty` = col_character(),
  Country = col_character(),
  `Imports ($NZD vfd)` = col_number(),
  `Imports ($NZD cif)` = col_number(),
  `Imports Qty` = col_number(),
  Status = col_character(),
  ...10 = col_logical()
)

In [16]:
Overseas_ti_url <- "https://www.stats.govt.nz/assets/Uploads/Overseas-trade-indexes-prices-and-volumes/Overseas-trade-indexes-prices-and-volumes-March-2020-quarter-provisional/Download-data/overseas-trade-indexes-march-2020-provisional.csv"

Overseas_ti <- Overseas_ti_url %>% read_csv()

Rows: 93335 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (10): Series_reference, STATUS, UNITS, Subject, Group, Series_title_1, S...
dbl  (3): Period, Data_value, MAGNTUDE

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [17]:
spec(Overseas_ti)

cols(
  Series_reference = col_character(),
  Period = col_double(),
  Data_value = col_double(),
  STATUS = col_character(),
  UNITS = col_character(),
  MAGNTUDE = col_double(),
  Subject = col_character(),
  Group = col_character(),
  Series_title_1 = col_character(),
  Series_title_2 = col_character(),
  Series_title_3 = col_character(),
  Series_title_4 = col_character(),
  Series_title_5 = col_character()
)

We actually are no longer getting parsing warnings as the dataset has been fixed by STATSNZ. We can specify column parsing and try to understand what's going on. We are suggested us to use `problems()` for more details. Let's do it.

In [25]:
Overseas_ti <- Overseas_ti %>% read_csv(col_types = cols(
  Series_reference = col_character(),
  Period = col_double(),
  Data_value = col_double(),
  STATUS = col_character(),
  UNITS = col_character(),
  MAGNTUDE = col_double(),
  Subject = col_character(),
  Group = col_character(),
  Series_title_1 = col_character(),
  Series_title_2 = col_character(),
  Series_title_3 = col_character(),
  Series_title_4 = col_integer(),
  Series_title_5 = col_character()
))#gives a really long error code dont run this shit

ERROR: Error in parse(text = x, srcfile = src): <text>:14:35: unexpected symbol
13:   Series_title_4 = col_integer(),
14:   Series_title_5 = col_character().
                                      ^

In [ ]:
Overseas_ti_alt %>%
  problems() %>%
  head(10)

In [ ]:
Overseas_ti %>% slice(30860:30870)

At row 30862 and following `read_csv()` was expecting `1/0/T/F/TRUE/FALSE`, and if we look at the parsing information when we read, the last two columns are parsed as `Logical`. But what has it got? That look like a character?

Notice, at this point we may want to observe some value around the problem. However, if you did take a look at the two suspected columns, they are empty. We would need to look at the original file! You can do that in different way, one is by going back to the terminal and use `cat` `head` and `tail`.

Two columns are completely empty. Area all the errors the same kind?

In [ ]:
Overseas_ti %>% 
  problems() %>%
  group_by(col,expected,actual) %>%
  tally()

You can use `vis_miss()` from `vis_dat` to get a grip of how the missings are distributed. (or you can install the package `nianar` and use one of its functions to plot the distribution of the missing values.

In [ ]:
# your code here
# install.packages("visdat")
library(visdat)
Overseas_ti %>%
  sample_n(10000)%>%
vis_miss(large_data_size = 9e+07)

#### Hard Time Reflection

You have (at least) three choices. Which one would you pick? Discuss and implement. 
1. drop the columns completely
2. use them with NAs inside
3. change the parsing of the column

In [ ]:
# your code here

### Example 2

Some other time you need to specify the type of the column by your self! We see that with an example from `readr`.

We are going to use the csv "challenge.csv", that is in this folder. First, open it with Jupyter Lab and give it a look. Then, we read it in R.

In [ ]:
challenge <- "challenge.csv" %>%
              read_csv()

A lot of read. And a familiar error. Let's give a look to the problems.

In [ ]:
challenge %>%
  problems() %>%
  head()

Trouble seems to start at row 1001. We can ask `read_csv()` to read only a bunch of lines, not all of them, and see how it goes.

In [ ]:
"challenge.csv" %>%
  read_csv(n_max = 1000) # we read only the first 1000

Similarly, we can skip the first 1000 rows and read from the rest:

In [ ]:
"challenge.csv" %>%
  read_csv(skip = 1001, # we skip the first 1000
  col_names = c("x", "y")) # now we have to specify the name of the columns as we have skip over the title row

The first entries of the variable `x` before row 1001 seem to be integer. But then (see the `actual` column in challenge's problems) it changes. In fact, `read_csv()` reads the first 1000 rows and then guess the type of the columns. In this case, the type changes after that.

We can solve this in two ways: by specifying the type of the columns or by asking `read_csv()` to read more rows before guessing.

We start with the latter. Go back an read the message that you got from `read_csv`, in particular the "Parsed with column specification" bit. That's the attempt done by `read_csv()`:

```
cols(
  x = col_integer(),
  y = col_character()
)
```

You can copy and tweak it: change integer to double.

In [ ]:
challenge <- "challenge.csv" %>%
  read_csv(col_types = cols(
      x = col_double(), # change this to col_double
      y = col_character()
      )
  )

No red messages, yet we are not satisfied. Consider now the variable `y`. In the slice of challenge we saw before, it looks like `y` is actually a date. Read challenge.csv again, this tim specifying that y is a date.

In [ ]:
challenge <- "challenge.csv" %>%
  read_csv(col_types = cols(
      x = col_double(), # change this to col_double
      y = col_character()
      )
  )

The other way is to ask read_csv to read more lines. You can do this by changing the `guess_max` argument:

In [ ]:
challenge <- "challenge.csv" %>%
  read_csv(guess_max = 1001)

What are we looking at? I have no idea :-) Let's plot it.

In [ ]:
challenge %>%
drop_na() %>%
  ggplot(aes(x = x, y = y)) +
  geom_point()

Probably just noise...

## Your turn

Try to read some other csv file from the stats nz website we used before. Do you find any error? Can you solve it?

In [23]:
#employment_url <- "https://www.stats.govt.nz/assets/Uploads/Employment-indicators/Employment-indicators-June-2021/Download-data/employment-indicators-june-2021-csv-tables.zip"
#employment <- read_csv(unzip(employment_url), n_max = 10)
#destfile = "test.zip"
#curl::curl_download(employment_url, destfile)
employment <- read_csv(unzip(destfile))
spec(employment)

ERROR: Error in unzip(destfile): object 'destfile' not found

## Out of R

You can read csvs, but you can also write them! The function is `write_csv()`.

In [24]:
# remotes::install_github("JoeyBernhardt/singer")
library(singer)

singer_locations %>%
  write_csv("singer_locations.csv")

In [19]:
singer_from_file <- read_csv("singer_locations.csv")

Rows: 10100 Columns: 14
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (8): track_id, title, song_id, release, artist_id, artist_name, name, city
dbl (6): year, duration, artist_hotttnesss, artist_familiarity, latitude, lo...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [20]:
all_equal(singer_locations,singer_from_file)

ERROR: Error in ncol(x): object 'singer_locations' not found

All as expected. Let's try to break things ;-)

## CSV and its cousins

We mentioned at the beginning that comma separeted value files are part of a large community. `readr` has other functions (which behave very similarly) for the other members of the family: discover them by typing `read_` and then hitting the _tab_ key.

In [21]:
read_

ERROR: Error in eval(expr, envir, enclos): object 'read_' not found

Use the syntax `?function` (where _function_ is the function you care about) to see what this other read_... functions are for.

# Advanced: excel

Excel files are not strictly separated files. If you are lucky they are, almost, an XML file: we will speak about them in the web as data labs and lectures. If you are not lucky, they are a mess.

Whether you are lucky or not depends on how the person who decided to write the excel file. If they decided to simply use it as a table, with one table per sheet, no fancy fonts, colors, or other embellishments, then you might be lucky. Otherwise, you are not.

In both cases, R has a variety of libraries to help you read and write excel files.

### lucky

The first one we see is [**readxl**](https://readxl.tidyverse.org/). It is installed when you install tidyverse, but it is not loaded by default. So you need to load it (in the usual way). We are straight reading from challenge.xslx (the same example as before, so do expect the same error. But more.

In [1]:
library(readxl) # From Jenny Brian et al.

"challenge.xlsx" %>%
  read_excel() %>%
  glimpse() # Expect a lot of red!

ERROR: Error in "challenge.xlsx" %>% read_excel() %>% glimpse(): could not find function "%>%"

WOW, that's a lot of error. Luckily, we know already how to solve. Don't we? It's again that error in guessing the type of columns.

## Files:
### Same location
### Relative path
### Absolute path

In [49]:
"challenge.xlsx" %>%
  read_excel(guess_max = 1001) %>%
  glimpse()

Rows: 2,000
Columns: 2
$ x <dbl> 404, 4172, 3004, 787, 37, 2332, 2489, 1449, 3665, 3863, 4374, 875, 1…
$ y <dttm> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…

Much better.

`readxl` works well when the data is tabular, i.e. it resemble closely a csv file and you hit lucky.

### unlucky

If the original excel file is a glorious mess of colors, fonts, more than on table per sheet, and so on you may still be able to recover the information using [tidyxl](https://github.com/nacnudus/tidyxl). This one does not come with the tidyverse, and you need to install it.

You might need to restart your R kernel here, if Rcpp need to be upgraded.

In [51]:
install.packages("tidyxl")

Installing package into ‘/home/patricio/R/x86_64-pc-linux-gnu-library/4.1’
(as ‘lib’ is unspecified)

also installing the dependency ‘piton’

Open the file "titanic.xlsx" with excel (or numbers or any other spreadsheet program) and look at its structure. Then open it with tidyxl. Instead of producing a table, every non-empty cell in the excel file is recorded with its address (row number and column letter in excel), the content, the colour, and all its information. Then it is up to you to use that information wisely :-) This is one of the most advanced areas of wrangling, it is so because spreadsheet offer a lot of freedom to users, and users use all that freedom to write data in very creative ways. Your task is often that of taming that creativity and producing a rigidly structured dataframe. It is hard job.

A good resource is this online free book by the developers of `tidyxl` (and `unpivotr`): https://nacnudus.github.io/spreadsheet-munging-strategies/

In [52]:
library(tidyxl)
titanic <- xlsx_cells("titanic.xlsx")
titanic %>% glimpse()

Rows: 60
Columns: 21
$ sheet               <chr> "Sheet1", "Sheet1", "Sheet1", "Sheet1", "Sheet1", …
$ address             <chr> "C1", "D1", "E1", "F1", "G1", "C2", "D2", "E2", "F…
$ row                 <int> 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, 4,…
$ col                 <int> 3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 1, 2, 1, 2, 4, 5, 6,…
$ is_blank            <lgl> FALSE, FALSE, TRUE, FALSE, TRUE, FALSE, FALSE, FAL…
$ data_type           <chr> "character", "character", "blank", "character", "b…
$ error               <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ logical             <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ numeric             <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ date                <dttm> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ character           <chr> "Age", "Child", NA, "Adult", NA, "Survived", "No",…
$ character_formatted <list> [<tbl_df[1 x 14]>], [<tbl_df[1 x 14]>], <NULL>, […
$ formula             <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ is_array            <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, F…
$ formula_ref         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ formula_group       <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ comment             <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ height              <dbl> 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15…
$ width               <dbl> 8.38, 8.38, 8.38, 8.38, 8.38, 8.38, 8.38, 8.38, 8.…
$ style_format        <chr> "Normal", "Normal", "Normal", "Normal", "Normal", …
$ local_format_id     <int> 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 2, 2, 3, 3, 1, 1, 1,…

If we want to look at the 1st row and ist content, we can operate on `titanic` (which is dataframe).

In [53]:
titanic %>%
  slice(1) %>%
  glimpse()

Rows: 1
Columns: 21
$ sheet               <chr> "Sheet1"
$ address             <chr> "C1"
$ row                 <int> 1
$ col                 <int> 3
$ is_blank            <lgl> FALSE
$ data_type           <chr> "character"
$ error               <chr> NA
$ logical             <lgl> NA
$ numeric             <dbl> NA
$ date                <dttm> NA
$ character           <chr> "Age"
$ character_formatted <list> [<tbl_df[1 x 14]>]
$ formula             <chr> NA
$ is_array            <lgl> FALSE
$ formula_ref         <chr> NA
$ formula_group       <int> NA
$ comment             <chr> NA
$ height              <dbl> 15
$ width               <dbl> 8.38
$ style_format        <chr> "Normal"
$ local_format_id     <int> 2

The only non empty cell in the first row is the "C1" (row 1, col 3). It contains some characters. Let's extract its text.

In [49]:
titanic %>%
  slice(1) %>%
  select(address,row,col,character)

  address row col character
1 C1      1   3   Age

### Your turn, try with another row and see what it contains.

In [50]:
# your code here

If you want to become a excel-to-R ninja (which is quite a good idea, given the amount of valuable data sleeping in companies' excel files) read more. Similar project you may want to look into are [unpivotr](https://nacnudus.github.io/unpivotr/) and [jailbreaker](https://github.com/rsheets/jailbreakr).

## Write excel

If you ever want to write to an excel (maybe because your colleague do work just using excel and you are trying to bring smoothly them to R), [writexl](https://github.com/ropensci/writexl) is what you are looking for.

In [51]:
# install.packages("writexl")

The behaviour of its main function `write_xlsx()` is similar to `write_csv()`.

In [52]:
library(writexl)
challenge %>% write_xlsx(path = "challenge.xlsx")

Warning message:
"package 'writexl' was built under R version 3.6.3"

In [53]:
read_excel("challenge.xlsx",
          guess_max = 1001) %>%
glimpse()

Rows: 2,000
Columns: 2
$ x <dbl> 404, 4172, 3004, 787, 37, 2332, 2489, 1449, 3665, 3863, 4374, 875, 1~
$ y <dttm> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,~